<div>

  <div class="white-block">
    <h1>Quad Solutions</h1>
    <h1>Technical assignment</h1>
  </div>

  <div class="white-block">
    <div class="question-section">
      <div class="gray-block"></div>
      <div class="content-section">
        <p>The Andrew Lloyd Webber musical &quot;Cats&quot; is based off a book of poems written by which author?</p>
        <div class="difficulty-section">
          <div class="circle difficulty-easy"></div>
          <div class="circle difficulty-medium"></div>
          <div class="circle difficulty-hard"></div>
        </div>
      </div>
    </div>
    <div class="answer-section">
      <div>
        <input type="checkbox">
        <label>test</label>
      </div>
    </div>
  </div>

  <div class="button-section">
    Check
  </div>
</div>